body {
    display: flex;
    align-items: center;
    min-width: 320px;
    min-height: 100px;
}
  
h3 {
    font-size: 1.2em;
}
  
button {
    border-radius: 4px;
    border: 2px;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
}
  
button:hover {
    border-color: black;
}
  
  